/*!
* indexhtml를 위한 css
*/
@charset "UTF-8";

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: #87CEEB; 
        width: 100%;
        height: 300px; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    .container {
        text-align: center; 
        margin-top: -50px; 
    }

    .page-title {
        font-size: 32px;
        font-weight: bold;
        margin: 0;
    }

    .introduction {
        font-size: 16px;
        color: #555; 
        margin: 10px 0 0 0;
        margin-top: 30px;
    }

    .profile-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        background-color: white; 
        border: 3px solid #87CEEB; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #87CEEB; 
        margin-top: -50px; 
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .Study{
        margin-left: 300px;
        margin-top: 130px;
    }

    .study-category{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding 0;
        margin-top: 20px;
    }

    .category-item{
        display: flex; 
        aling-items: center;
        font-size: 20px;
        color: black;
        text-decoration: none;
        font-weight: bold
    }

    .project-card{
        display: flex;
        gap: 20px;
    }

    .project-card a {
        text-decoration: none;  
    }

    .project-card img{
        width: 300px;
        heigth: auto;
        board-bottom: 1px solid #ddd;
    }

    .portfolio{
        margin-left: 300px;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .projects{
        flex-wrap: wrap;
    }

    .icon{
        width: 25px;
        height: auto;
        margin-right: 10px;
    }

    .card {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 12px;
        max-width: 500px;
        font-family: Arial, sans-serif;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .card a {
        text-decoration: none;
        color: #0366d6;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
    }
