/*!
* interyard.html를 위한 css
*/
@charset "UTF-8";

<style type="text/css">
img{
  transition: transform 0.3s ease;
  cursor: pointer;
}

.enlarged{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-title {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.Introduction h3 {
    margin-bottom: 5px; 
}

.Introduction li {
    margin-bottom: 5px;
  }

.Introduction ul{
  position: relative;
  top: -5px;
  right: 25px;
  list-style-position: inside;
}

.header img {
    display: block;
    margin: 0 auto;
}

.Introduction, .Document {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.Document img {
  width: 500px;
  hight: 500px;
}

.Main {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.Main img{
  width: 560px;
  hight: 560px;
}
</style>
