/*! index.html을 위한 CSS */
@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #87CEEB; 
    width: 100%;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.container {
    text-align: center; 
    margin-top: -100px; 
    color: #FFFFFF; 
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    color: #FFFFFF; 
}

.introduction {
    font-size: 16px;
    color: #FFFFFF; 
    margin-top: 30px;
    text-align: center; 
}

.profile-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    background-color: white; 
    border: 3px solid #87CEEB; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #87CEEB; 
    margin-top: -50px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 메인 컨텐츠 */
.Study, .portfolio {
    margin: 5% auto; 
    max-width: 80%;
    text-align: center; 
}

.study-category {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0;
    margin-top: 20px;
}

.category-item {
    display: flex; 
    align-items: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.project-card {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center; 
    align-items: center;
}

.project-card a {
    text-decoration: none;  
}

.project-card img {
    width: 100%; 
    max-width: 300px;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.projects {
    flex-wrap: wrap;
    margin-top: 30px;
}

.icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    max-width: 300px;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card a {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}
